body {
  margin: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 25px grey;
}

.logo {
  background-color: black;
  color: white;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border-radius: 50px;
  margin-left: 49px;
}

.logo-letter {
  font-size: 22px;
}

.accounts-image {
  margin-right: 15px;
}

.cart-image {
  margin-right: 65px;
}

.cart-counter {
  background: black;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: relative;
  top: -15px;
  right: 80px;
}

.cart-and-counter {
  display: flex;
}

.cart-counter-number {
  color: rgb(255, 255, 255);
  position: relative;
  top: -15px;
  left: 8px;
  font-weight: bold;
}

/* ProductBox */
.product-box {
  width: 1240px;
  height: 606px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-left: auto;
  margin-right: auto;

}

/* TshirtPage */
.tshirt {
  width: 609px;
  height: 606px;
  margin-left: 200px;
}

.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 200px;
}

.specs {
  text-align: center;
}

/* Login */
.login {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 346px;
  height: 491px;
  box-shadow: 10px 10px 25px grey;
  border-radius: 10px;
  text-align: center;
}

.no-account {
  margin-top: 0px;
  color: blue;
}

.profile-image {
  height: 99px;
  width: 99px;
  background: grey;
  border-radius: 50px;
  /* margin-top: 41px; */
  margin: 41px auto 20px;
}

.email {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.password {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.login-button {
  margin-top: 11px;
  height: 43px;
  width: 267px;
}

/* Register */
.register {
  margin-top: 50px;
  width: 346px;
  height: 554px;
  box-shadow: 10px 10px 25px grey;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  height: 99px;
  width: 99px;
  background: grey;
  border-radius: 50px;
  /* margin-top: 41px; */
  margin: 41px auto 20px;
}

.email {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.password {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.confirmpassword {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.register-button {
  height: 35px;
  width: 266px;
  margin-top: 13px;
}

.password-warning {
  margin: 0px;
  color: red;
}